EBO1/ebo_gpt/.env
EBO2/ebo_gpt/.env
EBO2/games_venv/
# Ignorar carpetas de dependencias (pesan mucho)
node_modules/
bin/
obj/

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración personal o secretos
.env
*.log
dist/
# Editor de código
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc

# Compilación y temporales
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
/EBO2/therapistPanel/CMakeFiles/
