[Desktop Entry]
Version=1.0
Type=Application
Name=EBO2
Exec=/home/rosa/ebo_serious_games/EBO2/iniciar_juegos.sh
Icon=/home/rosa/ebo_serious_games/EBO2/happy_sinfondo.png
Terminal=true

